{% extends "base.html" %} {% block body %}

<div class="jumbotron">
  <h2>Hashtag</h2>

  <h5>

  </h5>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Game Name</label>
      <input autofocus type="text" name="gameName" class="form-control" id="gameName" aria-describedby="emailHelp" />
      <small id="emailHelp" class="form-text text-muted">No spaces allowed</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Background Image</label>
      <input type="text" id="bgImg" class="form-control" id="exampleInputPassword1" />
      <small id="emailHelp" class="form-text text-muted">image File name with extension with no spaces</small>
      <div class="form-group">
        <label for="exampleInputPassword1">Title Image</label>
        <input type="text" id="titleImg" class="form-control" id="exampleInputPassword1" />
        <small id="emailHelp" class="form-text text-muted">image File name with extension with no spaces</small>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Hint Image</label>
        <input type="text" id="hintImg" class="form-control" id="exampleInputPassword1" />
        <small id="emailHelp" class="form-text text-muted">image File name with extension with no spaces</small>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Text font </label>
        <input autofocus type="text" class="form-control" id="txtFont" aria-describedby="emailHelp" />
        <small id="emailHelp" class="form-text text-muted">case sensitive eg : 'Roboto' choose font from
          <a href="https://fonts.google.com/" target="blank">here</a></small>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Text color </label>
        <input autofocus type="color" class="form-control" id="txtColor" aria-describedby="emailHelp" value="#ffffff" />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Select color </label>
        <input autofocus type="color" class="form-control" id="selectColor" aria-describedby="emailHelp" value="#ffffff" />
      </div>

      <div class="row">
        <div class="col-6">

          {%for i in range(10)%}
          {%for j in range(10)%}
          <input type="text" maxlength="1" id="rc{{i*10+j}}" style="width: 2rem;" value="a" />
          {%endfor%}
          <br>
          {%endfor%}

        </div>
        <div class="col-6">
          {%for i in range(10)%}
          {%for j in range(10)%}
          <div class="cell"
            style="width: 2rem;height: 1.9rem; background-color: white; display: inline-block; border: 2px solid black; padding-left: 4px;">
            {{' '}}{{i}}{{j}} </div>
          {%endfor%}
          <br>
          {%endfor%}
        </div>
      </div>

      <br /><br />
      <div class="form-group">
        <label for="exampleFormControlSelect1">Reward Type</label>
        <select class="form-control" name="rewardType" id="rewardType">
          <option value="confetti">Confetti</option>
          <option value="emoji">Emoji</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Emoji List</label>
        <input type="text" name="emojiList" class="form-control" id="emojiList" />
        <small id="emailHelp" class="form-text text-muted">Comma seperated list of emojis (use only when above option
          is
          'emoji')</small>
      </div>
      <a id="submitBtn" class="btn btn-primary btn-block">Submit</a>
  </form>
  <style>
    .cell:hover {
      background-color: coral !important;
      size: 110% !important;
    }
  </style>
  <script>
    let blocks = [];
    let cells = document.querySelectorAll('.cell')

    $('.cell').click((e) => {

      let text = e.target.textContent.trim()
      let r = parseInt(text[0])
      let c = parseInt(text[1])
      let i = blocks.find(v => v.r === r && v.c === c)
      if (i === undefined) {
        cells[(parseInt(r) * 10 + parseInt(c))].style.backgroundColor = 'red'
        blocks.push({ r, c })
      }
      else {
        cells[(parseInt(r) * 10 + parseInt(c))].style.backgroundColor = 'white'
        blocks = blocks.filter(v => !(v.r === r && v.c === c))
      }
    })



    $("#submitBtn").click(() => {

      let data = {}

      for (let i = 0; i < 10; i++) {
        let temp = []
        let c 
        for (let j = 0; j < 10; j++) {
          c = $(`#rc${i*10 + j}`).val().trim()
          if(c === ''){
            alert('box '+i+j+' is empty')
            return
          }
          temp.push({ char: c, correct: !!blocks.find(v => v.r === i && v.c === j) })
        }
        data[i] = temp
      }

      console.log(data);
      fetch("/game/hashtag", {
        method: "post",
        body: JSON.stringify({
          data: data,
          gameName: $("#gameName").val().trim(),
          bgImg: $("#bgImg").val().trim(),
          titleImg: $("#titleImg").val().trim(),
          rewardType: $("#rewardType").val().trim(),
          emojiList: $("#emojiList").val().trim(),
          txtFont: $("#txtFont").val().trim(),
          txtColor: $("#txtColor").val().trim(),
          selectColor: $("#selectColor").val().trim(),
          hintImg: $("#hintImg").val().trim(),
        }),
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (j) {
          console.log(j);
          if (j.status === "success") window.location.href = "/manage_sessions";
          else alert("Operation uncessfull");
        })
        .catch(function (err) {
          alert("Operation uncessfull");
        });
    });
  </script>
</div>
{% endblock %}