{% extends "base.html" %} {% block body %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"
/>

<div class="jumbotron">
  <h2>Create Session</h2>
  <br />
  <form action="/game/image_puzzle" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Session Name</label>
      <input
        autofocus
        type="text"
        class="form-control"
        id="sessionName"
        aria-describedby="emailHelp"
      />
      <small id="emailHelp" class="form-text text-muted"
        >No spaces allowed</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Button font </label>
      <input
        autofocus
        type="text"
        class="form-control"
        id="btnFont"
        aria-describedby="emailHelp"
      />
      <small id="emailHelp" class="form-text text-muted"
        >case sensitive eg : 'Roboto' choose font from
        <a href="https://fonts.google.com/" target="blank">here</a></small
      >
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="exampleInputEmail1">Button color </label>
          <input
            autofocus
            type="color"
            class="form-control"
            id="btnColor"
            aria-describedby="emailHelp"
            value="#ffffff"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleInputEmail1">Button Highlight</label>
          <input
            autofocus
            type="color"
            class="form-control"
            id="btnHilight"
            value="#000000"
          />
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Login background Image</label>
      <input type="text" class="form-control" id="loginBackground" />
      <small id="emailHelp" class="form-text text-muted"
        >image File name with extension</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Login Creative Image</label>
      <input type="text" class="form-control" id="loginCreative" />
      <small id="emailHelp" class="form-text text-muted"
        >image File name with extension</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Logo Image</label>
      <input type="text" class="form-control" id="logoImg" />
      <small id="emailHelp" class="form-text text-muted"
        >image File name with extension</small
      >
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Loading Spinner</label>
      <input type="text" class="form-control" id="loadingSpinner" />
      <small id="emailHelp" class="form-text text-muted"
        >GIF File name without spaces</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">gameSound</label>
      <input type="text" class="form-control" id="gameSound" />
      <small id="emailHelp" class="form-text text-muted"
        >MP3 File name without spaces</small
      >
    </div>

    <br /><br />
    <h2>Add Games</h2>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Game Type</label>
          <select class="form-control" id="gameType">
            <option></option>
            {% for g in games%}
            <option>{{g}}</option>
            {% endfor%}
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Game Name</label>
          <select class="form-control" id="gameName">
            <option></option>
          </select>
        </div>
      </div>
    </div>
    <p>
      Games Added :
      <span style="font-weight: bold; color: blue" id="gamesAdded"> </span>
    </p>
    <a class="btn btn-success btn-block" id="addGame">Add Game </a>
    <br />
    <a class="btn btn-block btn-danger" id="removeGame">Reset Games </a>
    <br /><br />
    <div class="form-group">
      <label for="exampleInputPassword1">End background Image</label>
      <input type="text" class="form-control" id="endBackground" />
      <small id="emailHelp" class="form-text text-muted"
        >image File name with extension</small
      >
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">End Creative Image</label>
      <input type="text" class="form-control" id="endCreative" />
      <small id="emailHelp" class="form-text text-muted"
        >image File name with extension</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">End Download Creative </label>
      <input type="text" class="form-control" id="endDownloadCreative" />
      <small id="emailHelp" class="form-text text-muted"
        >image File name with extension</small
      >
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="showRsvp" />
      <label class="form-check-label" for="exampleCheck1">show RSVP</label>
    </div>

    <a class="btn btn-primary btn-block" id="submitBtn">Submit</a>
  </form>

  <script>
    let gamesAdded = [];
    $("#gameType").on("change", function () {
      const q = this.value;
      $("#gameName").empty();
      if (q === "") {
        return;
      }
      fetch("/list/" + q)
        .then((res) => res.json())
        .then((j) => {
          let games = j.games;
          games.forEach((element) => {
            let ele = $("<option></option>")
              .attr("value", element)
              .text(element);
            $("#gameName").append(ele);
          });
        });
    });

    $("#addGame").click(() => {
      let gameToAdd = $("#gameName").val();
      if (gameToAdd === "") {
        alert("game not selected");
        return;
      }
      if (gamesAdded.indexOf(gameToAdd) !== -1) {
        alert("game alredy added");
        return;
      }
      gamesAdded.push(gameToAdd);
      $("#gamesAdded").text(gamesAdded.join(" , "));
    });
    $("#removeGame").click(() => {
      if (!confirm("Reset all added Games")) {
        return;
      }
      gamesAdded = [];
      $("#gamesAdded").text(gamesAdded.join(" , "));
    });

    $("#submitBtn").click(() => {
      const sessionName = $("#sessionName").val().trim();
      const loginBackground = $("#loginBackground").val().trim();
      const loginCreative = $("#loginCreative").val().trim();
      const logoImg = $("#logoImg").val().trim();
      const endBackground = $("#endBackground").val().trim();
      const endCreative = $("#endCreative").val().trim();
      const endDownloadCreative = $("#endDownloadCreative").val().trim();
      const btnFont = $("#btnFont").val().trim();
      const btnColor = $("#btnColor").val().trim();
      const btnHilight = $("#btnHilight").val().trim();
      const loadingSpinner = $("#loadingSpinner").val().trim();
      const gameSound = $("#gameSound").val().trim();
      const showRsvp = $("#showRsvp:checked").val() == "on" ? true : false;

      if (gamesAdded.length < 1) {
        alert("No games added");
        return;
      }
      if (loginBackground.indexOf(" ") >= 0 || loginBackground === "") {
        alert(`login Background can't have spaces`);
        return;
      }
      if (loginCreative.indexOf(" ") >= 0 || loginCreative === "") {
        alert(`login Creative can't have spaces`);
        return;
      }
      if (logoImg.indexOf(" ") >= 0 || logoImg === "") {
        alert(`Logo img can't have spaces`);
        return;
      }

      if (loadingSpinner.indexOf(" ") >= 0 || loadingSpinner === "") {
        alert(`Loading Spinner can't have spaces`);
        return;
      }
      if (endBackground.indexOf(" ") >= 0 || endBackground === "") {
        alert(`end Background can't have spaces`);
        return;
      }

      const sessionDetails = {
        sessionName,
        loginBackground,
        loginCreative,
        logoImg,
        endBackground,
        loadingSpinner,
        endCreative,
        gamesAdded,
        endDownloadCreative,
        btnHilight,
        btnColor,
        btnFont,
        gameSound,
        showRsvp,
      };

      console.log(sessionDetails);
      fetch("/create_session", {
        method: "post",
        body: JSON.stringify(sessionDetails),
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (j) {
          console.log(j);
          if (j.status === "success") window.location.href = "/manage_sessions";
          else alert("Operation uncessfull");
        })
        .catch(function (err) {
          alert("Operation uncessfull");
        });
    });
  </script>
  <style>
    body {
      background-image: url("https://images.unsplash.com/photo-1510079204922-a11f920f2c53");
    }
  </style>
</div>
{% endblock%}
