{% extends "base.html" %} {% block body %}

<div class="jumbotron">
  <form action="/upload" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Game Type</label>
          <select class="form-control" id="gameType">
            <option></option>
            <option>sessions</option>
            {% for g in games%}
            <option>{{g}}</option>
            {% endfor%}
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Game Name</label>
          <select class="form-control" name="gameName" id="gameName">
            <option></option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="file">File input</label>
      <input
        type="file"
        class="form-control-file"
        name="files"
        id="files"
        multiple
      />
    </div>
    <br />
    <button class="btn btn-success btn-block" type="submit">submit</button>
  </form>
</div>
<script>
  $("#gameType").on("change", function () {
    const q = this.value;
    $("#gameName").empty();
    if (q === "") {
      return;
    }
    fetch("/list/" + q)
      .then((res) => res.json())
      .then((j) => {
        let games = j.games;
        games.forEach((element) => {
          let ele = $("<option></option>").attr("value", element).text(element);
          $("#gameName").append(ele);
        });
      });
  });
</script>
{% endblock %}
